@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using CB.Data

<h1>Website report checker</h1>

@if (GetList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @foreach (API get in GetList)
            {
                <tr>
                    <td>@get.</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    API api = new();
    List<API> GetList = API.FetchRequest();
}
