@page "/fetchdata"

<PageTitle></PageTitle>

@using CB.Data

<h1>Website report checker</h1>


   <table class="table">
       <tbody>
            <tr>
                <th>Domain</th>
                <th>Days</th>
                <th>Result</th>
            </tr>
            @if (searched) 
            {
                @foreach (API? get in GetList)
                {
                    <tr>
                        <td>@get.IP</td>
                        <td>@get.Days</td>
                        <td>@get.Text</td>
                    </tr>
                }
            }
       </tbody>


   </table>

@code {
    bool searched = false;
    API? api = new();
    List<API>? GetList = new();

    void Search()
    {
        searched = true;
        GetList?.Add(Fetch.ApiReq(api));
    }
    /*
    <div>
    <input type="text" @bind="api.Domain" placeholder="google.com" />
    <input type="text" @bind="api.Days" placeholder="90" />
    <button class="btn btn-outline-light" @onclick="Search">Search</button>
    </div>
    */
}
